body {
  background-color: #E9ECEC;
  font-family: 'Assistant', sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: 600px;
  display: flex;
  justify-content: space-between;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 15px;
  margin-bottom: 30px;
}

.form__btn-submit {
  min-width: 100px;
  min-height: 30px;
  outline: none;
  background-color: #f6a400;
  border: none;
  border-radius: 10px;
  color: #6f6f72;
}

.form__btn-submit:active,
.form__btn-submit:focus,
.form__btn-submit:hover {
  box-shadow: #6f6f72 0 0 8px;
  cursor: pointer;
  color: #000000;
}

.form__input {
  min-width: 300px;
  min-height: 35px;
  margin-right: 20px;
  border: #FFFFFF;
  border-radius: 10px;
  padding: 5px;
  box-sizing: border-box;
}

.form__input:focus {
  box-shadow: #FFFFFF 0 0 10px;
  border: 1px solid #6f6f72;
  outline: none;
}

.location {
  text-align: center;
  margin-bottom: 15px;
}

.info-about-weather {
  border-radius: 20px;
  border: 10px solid #FFFFFF;
  box-shadow: #FFFFFF 0 0 10px;
  padding: 10px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 500px;
  min-width: 900px;
  color: #FFFFFF;
  background: url("img/main-background.jpg"), #b1b1b1;
  background-blend-mode: multiply;
  background-size: 100%;
  margin-bottom: 30px;
}

.main-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.temperature {
  font-size: 48px;
  font-weight: bold;
}

.weather-description {
  font-size: 28px;
}

.feels-like {
  font-size: 32px;
}

.other-info {
  display: flex;
  align-items: center;
}

.other-info__title {
  font-size: 20px;
}

.wind-direction, .wind-speed, .pressure{
  font-size: 28px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  color: #6f6f72;
}

